// gap and spacers
$gap: 16px;

// media queries
$tablet: 768px !default;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$widescreen-enabled: true;
$fullhd: 1344px + (2 * $gap) !default;
$fullhd-enabled: true;

// colors
$orange: #fe6700;
$dark: #353535;
$white: #fff;
