@charset "utf-8";

@import url('./scss/reset.scss');

html {
  font-family: $font-family;
  font-size: 16px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
  color: $dark;
  background: $white;
  padding: 0;
  position: relative;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
